{$SITE_ADDRESS:localhost:8080} {
	encode zstd gzip
	reverse_proxy {$LANGINDEX_UPSTREAM:127.0.0.1:8090}

	header {
		Permissions-Policy "interest-cohort=()"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
	}
}
